# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencies
node_modules

# Build outputs
dist
dist-ssr

# Local env files
*.local
.env
.env.*
!.env.example

# Cache (optional but good)
.cache
.vite
.eslintcache

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea

# OS files
.DS_Store
Thumbs.db

# Windows / Visual Studio
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
